main{
    margin: 0;
    padding: 0;
    width: 98.5vw;
}
.container--cliente{
    margin-top: 1rem;
}

.fade-client{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    opacity: 0.3;
}

.modal-client{
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 450px;
    height: 600px;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}