main{
    margin: 0;
    padding: 0;
    width: 98.5vw;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    
}

.esquerdo{
    width: 60%;
 
}
.direito{
    width: 40%;
   
}
.linha--esquerda{
    width: 100%;
    height: 150px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
}
.item{
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(190, 189, 189);
    flex-direction: column;
    border-radius: 5px;
}
.item span{
    font-size: 1.5rem;
    color: rgb(104, 101, 101);
    margin-top: 1rem;
}
.item .numero{
    font-size: 2.5rem;
    color: rgb(18, 235, 83);
    font-weight: bold;
}

.ultimas--vendas{
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(190, 189, 189);
    margin-left: 10px;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    
}
.vendas{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    height: 33%;
    align-items: center;
    border-bottom: 2px solid rgba(117, 115, 115, 0.2);
}
.ultimas--vendas table{
   
     width: 90%;
}
.ultimas--vendas th{
   color: #414141;
}

.ultimas--vendas th, td{
    padding: 10px;
    text-align: center;
    width: auto;
    
}

.ultimas--vendas tr:nth-child(even){
    background-color:  #f3f5f4;
}
.ultimas--vendas tr:hover{
    background-color: #a8a9aa;
    color: #fff;
}