.card--container{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  
}



.card--produto{
    border-bottom: 1px solid #ccc;
   
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}
.card--produto:hover{
    background-color: rgb(240, 238, 236);
  
  
}

p{
    font-family:  sans-serif;
    font-size: 1.1em;
}


.card--topo{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.card--meio{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
    
}
.card--baixo{
    display: flex;
    align-items: center;
    
}
.card--baixo p{
    margin-left: 2em;
}

table, th, td, tr{
    border: 1px solid #ccc;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}

th, td{
    padding: 10px;
    text-align: center;
    width: 120px;
}

th{
    font-weight: bold;
}
tr:nth-child(even){
    background-color:  #DCEBE6;
}

tr:hover{
    background-color: #085F63;
    color: #fff;
}