.container-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    min-width: 400px;
    max-width: 90%;
}
.row-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  right;
    padding-right: 10%;
}
.row-buttons button{
    margin: 10px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
.lista-produtos{
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.row-lista{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-pesquisa{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    gap: 1.2rem;
    flex-direction: row;
}
input,
button,
form input,
 .register--button{
    padding: 8px 15px;
    margin-bottom: 1.5em;
    border-radius: 2px ;
    border: 1px solid #282c34;
}
form .select{
    padding: 8px 15px;
    margin-bottom: 1.5em;
}
.pesquisaForne{
   width: 25%;
   margin-top: -1rem;
}
.pesquisaNome{
    margin-left: 150px;
}
.button-pesquisa{
    margin-right: 30px;
}
button i{
    font-size: 1rem;
}
button,
 .register--button{
    background-color: #61dafb;
    border: 1px solid #61dafb;
    color: #000;
    transition: .5s;
    cursor: pointer;
}

form .register--button:hover{
    background-color: #fff;
    border-color: #282c34;
}

.input_container{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_container label{
    font-weight: bold;
    margin-bottom: .4em;
}